@tailwind base;
@tailwind components;
@tailwind utilities;


.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.colorViolet {
    color: #9C84C2;
}

.colorBeige{
    color: #FAE8E0;
}

.colorOrangeC{
    color:#F8B59C;
}

.colorOrange{
    color: #FD6D2F;
}

.montserrat {
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}

.fc-btn {
    background-color: #FD6D2F;
    color: #FAE8E0;
    border: none;
}
.fc-btn-primary{
    background-color: #9C84C2;
    color: #FAE8E0;
    border: none;
}


