@tailwind base;
@tailwind components;
@tailwind utilities;


.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.colorViolet {
    color: #9C84C2;
}

.colorBeige{
    color: #FAE8E0;
}

.colorOrangeC{
    color:#F8B59C;
}

.colorOrange{
    color: #FD6D2F;
}

.montserrat {
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}

/* Définir les styles des boutons */
.fc.button {  /* Targets buttons with class "custom-button" within FullCalendar elements with class "fc" */
    color: #FAE8E0;
    background-color: #F8B59C;
    border-color: #F8B59C;
}

.custom-button:hover {
    color: #F8B59C;
    background: #FD6D2F;
}

#calendar{
    padding: 30px;
}
.red-button {
    background-color: red;
    color: white;
}
.blue-button {
    background-color: blue;
    color: white;
}
